<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add new cards</title>

  <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS inside CSS folder -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="container" >
    <div class="row">

      <!-- fill the blank -->
      <div id = addcards-content>  
        <form method="post" action="/api/create" id="myForm">

          <div class="col-md-12 centered" >
            My friend <input id="name" name="name" autofocus> sent me this card from <input id="where" name="where" autofocus>, on <input id="month" name="month" autofocus>/<input id="date" name="date" placeholder="" autofocus>/<input id="year" name="year" placeholder="" autofocus> .
          </div>

          <!-- upload images  -->
          <!-- <div class="col-md-4 centered" > -->

          <!--  <div class="form-group">
            <label for="image">Please upload the graphic side</label>
            <input type="file" name="image" id="image-input" value="Select a Photo">
          </div>

          <div class="form-group2">
            <label for="image">Please upload the content side</label>
            <input type="file" name="image" id="image-input" value="Select a Photo">
          </div> -->

          <!-- <button type="submit" class="submit-button">Submit</button> -->
          <button type="submit" id="submitImg"><img src="img/submit.png" width="80px" height= "50px"></button>

          <!-- </div> -->
        </form>
      </div>
<!-- wind mill -->
      <div class="windmill">
        <div class="stick"></div>
        <div class="wind">
          <div class="wind1"></div>
          <div class="wind2"></div>
          <div class="wind3"></div>
          <div class="wind4"></div>
        </div>
      </div>

    </div>
  </div>
  <!-- <button id="submitButton" type="submit" class="submit-button" >Submit</button> -->

</body>

<!-- JQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

<!-- JQuery validate -->
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

<script type="text/javascript">
  $("#myForm").validate({
    rules: {
      theInput:{
        required: true
      },
      where:{
        required: true
      },
      month: {
        required: true,
        number: true
      },
      date: {
        required: true,
        number: true
      },   
      year: {
        required: true,
        number: true
      }      
    }
  });
</script>

</html>
