<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Add new cards</title>

  <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS inside CSS folder -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div class="container" method="post" action="/api/create" id="myForm">
    <div class="row">
      <!-- <h1>Let's add an ITP Person</h1> -->

      <div class="col-md-12 centered" >
        <div id = addcards-content>       
          My friend <input id="theInput" placeholder="" autofocus> sent me this card from <input id="theInput1" placeholder="" autofocus>, on <input id="theInput2" placeholder="" autofocus>/<input id="theInput2" placeholder="" autofocus>/<input id="theInput3" placeholder="" autofocus> .
        </div>
      </div>

      <!-- <form method="post" action="/api/create" id="myForm"> -->
        <!-- <div class="form-group">

            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
            <label for="name">sent me this card from</label>
            <input type="text" class="form-control" id="where" placeholder="Place" name="where" required>
            <label for="place">,on</label>
            <input type="text" class="form-control" id="month" name="month" required>
            <label for="month">/</label>
            <input type="text" class="form-control" id="date" name="date" required>
            <label for="date">/</label>
            <input type="text" class="form-control" id="year" name="year" required>
            <label for="year">.</label>

            <p class="help-block">Enter interests separated by comma</p>
       
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" placeholder="Link" name="link" required>
          
            <label for="imageUrl">ImageURL</label>
            <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" name="imageUrl" required>
          </div> -->


          <!-- <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" required>
          </div>
          <div class="form-group">
            <label for="itpYear">ITP Year</label>
            <input type="text" class="form-control" id="itpYear" placeholder="Year" name="itpYear" required>
          </div>
          <div class="form-group">
            <label for="interests">Interests</label>
            <input type="text" class="form-control" id="interests" name="interests" required>
            <p class="help-block">Enter interests separated by comma</p>
          </div>
          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" placeholder="Link" name="link" required>
          </div>  
          <div class="form-group">
            <label for="imageUrl">ImageURL</label>
            <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" name="imageUrl" required>
          </div> -->
           <!--  <input type="radio" name="hasGlasses" value="yes">Yes<br>
           <input type="radio" name="hasGlasses" value="no">No         -->                   
           <!-- </form>  -->

           <div class="col-md-4 centered" >
             <div class="form-group">
              <label for="image">Please upload the graphic side</label>
              <input type="file" name="image" id="image-input" value="Select a Photo">
            </div>
            <div class="form-group2">
              <label for="image">Please upload the content side</label>
              <input type="file" name="image" id="image-input" value="Select a Photo">
            </div>

          </div>

        </div>
         <!-- <button type="submit" class="submit-button">Submit</button> -->
         <button id="submitButton" type="button" class="submit-button" >Submit</button>

      </div>

    </body>

    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

    <!-- JQuery validate -->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

    <script type="text/javascript">
      $("#myForm").validate({
        rules: {
            // compound rule
            itpYear: {
              required: true,
              number: true
            },
            link: {
              required: true,
              url: true
            }            
          }

        });
      </script>

      </html>
