<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Please send me a card</title>

  <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS inside CSS folder -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <div id="header" class="row" data-spy="affix" >
  <a href="/"><img src="/img/header.png"></img></a>
  <!-- <a href="/"><h2>please send me a little card</h2></a> -->
  </div>

  <div id="gobottom">
   <a href="#bottom"><img src="/img/bottom.png"></img></a>
  </div>
  

  <div class="container" id = "directory-container">

    <div class="row" id="cards-holder">

    </div>
  </div>

</body>

<!-- JQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

<!-- include jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
  $("a[href='#bottom']").click(function() {
  $("html, body").animate({ scrollTop: $(document).height() }, "slow");
  return false;
});
</script>

<!-- CUSTOM JS -->
<script src="/js/oridomi.js"></script>
<script src="/js/oridomi.min.js"></script>

<script src="/js/main.js"></script>

</html>
