<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageTitle}}</title>

    <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

  <div class="add-cards-bg">
    <div class="container-fluid" >
      <form method="post" action="/api/edit/{{card._id}}" id="myForm" enctype="multipart/form-data" autocomplete="off">

        <div class="row" id = "addcards-content">
          <!-- fill the blank -->
          <div class="col-md-12 centered" >
            My friend <input id="name" name="name" value="{{card.name}}" required autofocus> sent me this card from <input id="where" name="where" value="{{card.where}}" required autofocus>, on <input id="month" name="month" value="{{card.month}}" required autofocus>/<input id="date" name="date" placeholder="" value="{{card.date}}" required autofocus>/<input id="year" name="year" placeholder="" value="{{card.year}}" required autofocus> .
          </div>
        </div>

        <!-- upload images  -->
        <div class = "add-page-icon">
        <div class="row">
          <div class="col-md-1 col-md-offset-1">
            <div class="form-group">
              <label for="image-input"><img src="/img/postcard-graphic.png" width="80"></label>
              <input type="file" name="image" id="image-input" value="Select a Photo">
            </div>
          </div>

          <div class="col-md-6">
          <div class="form-group2">
              <label for="image-input"><img src="/img/postcard-content.png" width="80"></label>
              <input type="file" name="image2" id="image-input" value="Select a Photo2">
            </div>
          </div>
        </div>

       <div class="submit-button-test">
        <button type="submit" class="submit-button" id="submitImg">Archive</button>

        </div>
      </form>
    </div>
    <!-- <button id="submitButton" type="submit" class="submit-button" >Submit</button> -->
  </div>

  
 <!--  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Let's edit an ITP Person</h1>
        <form method="post" action="/api/edit/{{card._id}}">
          <div class="form-group">

            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" value="{{card.name}}" required>
          </div>
          <div class="form-group">
            <label for="itpYear">ITP Year</label>
            <input type="text" class="form-control" id="itpYear" placeholder="Year" name="itpYear" value="{{card.itpYear}}" required>
          </div>
          <div class="form-group">
            <label for="interests">Interests</label>
            <input type="text" class="form-control" id="interests" name="interests" value="{{card.interests}}" required>
            <p class="help-block">Enter interests separated by comma</p>
          </div>
          <div class="form-group">
            <label for="link">Link</label>
            <input type="text" class="form-control" id="link" placeholder="Link" name="link" value="{{card.link}}" required>
          </div>  
          <div class="form-group">
            <label for="imageUrl">ImageURL</label>
            <input type="text" class="form-control" id="imageUrl" placeholder="imageUrl" name="imageUrl" value="{{card.imageUrl}}"required>
          </div>                    
          <button type="submit" class="btn btn-default">Submit</button>
        </form> 
      </div>
    </div>
  </div>
   -->
</body>
    <!-- JQuery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 

    <!-- CUSTOM JS -->
    <script src="/js/main.js"></script>

    <!-- JQuery validate -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>

<script type="text/javascript">
  $("#myForm").validate({
    rules: {
      theInput:{
        required: true
      },
      where:{
        required: true
      },
      month: {
        required: true,
        number: true
      },
      date: {
        required: true,
        number: true
      },   
      year: {
        required: true,
        number: true
      }      
    }
  });
</script>


</html>
