<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Please send me a card</title>

  <!-- Custom Font - Change 'Muli' to the font you want -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS inside CSS folder -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="home-section">
  <div class="hp-content">
      <h1>Please send me a card.</h1>
      <a href="add-cards">
          <button id="enterButton" type="button" class="cover-button" > add</button>
      </a>
       <a href="directory">
      <button id="enterButton" type="button" class="cover-button" > view</button>
      </a>
    </div>
  </div>
</body>

<!-- JQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<!-- <script type="text/javascript" src="js/main.js"></script> -->

<!-- JQuery validate -->
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>


</html>